
<div class="container col-md-12">
  {{!-- <div class="row">
    <ul>
      {{#each model as |city|}}
        <li>{{#link-to "dashboard.city" city}} {{city.name}} {{/link-to}}</li>
      {{/each}}
    </ul>
  </div> --}}
{{outlet}}
</div>
{{!-- {{#each model as |spot|}}
  {{spot.price}}
  {{spot.zip}}
  <p></p>
{{/each}} --}}
