<div class='dc-data-count col-md-6' id={{id}}>
  <h3 class="text-center">Selected Spots:</h3>
  <h3 class="filter-count text-center"></h3>
  {{!-- <span class='filter-count'></span> --}}
   {{!-- selected Spots out of <span class='total-count'></span>. --}}
</div>
{{yield}}
